<div class="log-in">
    <div class="backdrop-white">
        <p class="welcome-back">Welcome Back!</p>
        <div class="reg-account">
            <p>Don't have an account?</p>
            <p class="register_link">Register</p>
        </div>

        <div class="input">
            <p class="header">Email</p>
            <input type="text" placeholder="Enter your Email">
        </div>
        <div class="input">
            <p class="header">Password</p>
            <input type="text" placeholder="Enter your Password">
        </div>
        <p class="forgot-pass">Forgot Password?</p>

        <div class="sign-in-btn"><p>Sign In</p></div>

        <div class="division">
            <div class="line"></div>
            <p>Or</p>
            <div class="line"></div>
        </div>

        <div class="log-in-options">
            <div class="gmail">Gmail</div>
            <div class="facebook">Facebook</div>
        </div>
    </div>
</div>