<div class="sign-in">
    <div class="backdrop-white">
        <p class="welcome-back">Create an Account</p>
        <div class="reg-account">
            <p>Already a member?</p>
            <p class="register_link">Sign In</p>
        </div>

        <form action="http://localhost:4000/signin" method="POST">
            <p class="header">Username</p>
            <input type="text" name="username" placeholder="Enter a Username" [required]="true">

            <p class="header">Email</p>
            <input type="text" name="email" placeholder="Enter your Email" [required]="true">

            <p class="header">Password</p>
            <input type="text" name="password" placeholder="Enter your Password" [required]="true">
            <input type="text"name="pass" placeholder="Re-enter your Password" [required]="true">
            <button class="sign-in-btn" type="submit">Sign Up</button>
        </form>

        <div class="division">
            <div class="line"></div>
            <p>Or</p>
            <div class="line"></div>
        </div>

        <div class="log-in-options">
            <div class="gmail">Gmail</div>
            <div class="facebook">Facebook</div>
        </div>
    </div>
</div>