<div class="sign-in">
    <div class="backdrop-white">
        <p class="welcome-back">Create an Account</p>
        <div class="reg-account">
            <p>Already a member?</p>
            <p class="register_link">Sign In</p>
        </div>

        <div class="input">
            <p class="header">Username</p>
            <input type="text" placeholder="Enter a Username">
        </div>
        <div class="input">
            <p class="header">Email</p>
            <input type="text" placeholder="Enter your Email">
        </div>
        <div class="input">
            <p class="header">Password</p>
            <input type="text" placeholder="Enter your Password">
            <input type="text" placeholder="Re-enter your Password">
        </div>

        <div class="sign-in-btn"><p>Sign Up</p></div>

        <div class="division">
            <div class="line"></div>
            <p>Or</p>
            <div class="line"></div>
        </div>

        <div class="log-in-options">
            <div class="gmail">Gmail</div>
            <div class="facebook">Facebook</div>
        </div>
    </div>
</div>